* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background: linear-gradient(135deg, #cccccc, #aaaaaa);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60%;
   background: rgb(240, 240, 240);
   border-radius: 30px;
   padding: 10px 20px;
}

.nav h2 {
   font-size: 20px;
   background-color: white;
   border-radius: 30px;
   border: 2px solid black;
   padding: 10px;
   display: flex;
   gap: 3px;
   user-select: none;
}

.nav h1 {
   font-size: 20px;
   /* background-color: white; */
   border-radius: 30px;
   padding: 10px;
   user-select: none;
   color: #cf3b00;

}
.conteiner_principal{
   margin-top: 50px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background: rgb(240, 240, 240);
   width: 1530px;
   height: 500px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   padding: 20px;
   transition: transform 0.3s ease;
}

canvas {
   max-width: 600px;
   height: 200px;
   margin: 30px auto;
   display: block;
}

.graficoFunc, .graficoPag {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    transition: transform 0.3s;
}

.graficoFunc:hover, .graficoPag:hover {
    transform: translateY(-5px);
}

.graficoFunc h2, .graficoPag h2 {
    text-align: center;
    color: #cf3b00;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
}
.conteiner_aba {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.abas {
   margin-top: 50px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   background: rgb(240, 240, 240);
   width: 320px;
   height: 500px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   padding: 20px;
   transition: transform 0.3s ease;
}

.abas:hover {
   transform: scale(1.02);
}

.abas form {
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.botao-fechar {
   position: absolute;
   top: 10px;
   right: 15px;
   background: none;
   border: none;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
   color: #444;
   transition: color 0.2s ease;
}

.caixa-modal {
   position: relative;
}

.botao-fechar:hover {
   color: #cf3b00;
   transform: scale(1.2);
}

.valor {
   text-align: center;
   background: white;
   border: 2px solid black;
   border-radius: 20px;
   width: 200px;
   height: 100px;
   padding: 10px;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bold;
   color: #cf3b00;
   ;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.abas h1 {
   font-size: 2rem;
   color: #cf3b00;
   ;
   margin-bottom: 20px;
}

.abas a {
   text-decoration: none;
   background-color: #cf3b00;
   color: white;
   border-radius: 30px;
   padding: 5px 10px;
}

button {
   background-color: #cf3b00;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 30px;
   font-size: 1rem;
   cursor: pointer;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
   transform: scale(1.05);
}

.fundo-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 9999;

   opacity: 0;
   transition: opacity 0.3s ease;
}

.fundo-modal.ativo {
   display: flex;
   opacity: 1;
}

select {
   border: none;
   padding: 10px;
   border-radius: 20px;
   width: 100%;
   font-size: 1rem;
   background-color: #fff;
   box-shadow: 0 0 8px rgba(207, 59, 0, 0.2);
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

select:focus {
   outline: none;
   box-shadow: 0 0 12px #cf3b00;
}

.fechar {
   position: absolute;
   right: 15px;
   top: 10px;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
}

.add {
   margin-top: 50px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f0f0f0;
   width: 320px;
   height: 660px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   padding: 20px;
   transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
   cursor: pointer;
   opacity: 0.6;
}

.add:hover {
   opacity: 1;
   transform: scale(1.05);
   background-color: #e2e2e2;
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.add button {
   width: 320px;
   height: 660px;
   font-size: 80px;
   font-weight: bold;
   color: #333;
   background: none;
   border: none;
   cursor: pointer;
   outline: none;
   transition: transform 0.2s ease, color 0.3s ease;
}

.add button:hover {
   transform: scale(1.05);
   color: #222;
}

.apagar {
   background: none;
   border: none;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   color: #444;
   transition: color 0.2s ease;
   margin-top: 10px;
}

.apagar:hover {
   color: #cf3b00;
   transform: scale(1.1);
}

.conteiner_contador {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.contador {
   margin-top: 50px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: rgb(240, 240, 240);
   width: 320px;
   height: 660px;
   gap: 4px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   padding: 20px;
   transition: transform 0.3s ease;
}

.resumo-servicos {
   display: flex; 
   background: #f8f9fa;
   gap: 5px;
   border-radius: 8px;
   padding: 10px;
   margin-top: 10px;
}

.resumo-servicos p {
    margin: 5px 0;
    font-size: 14px;
    color: black;
}

.contador:hover {
   transform: scale(1.02);
}

.contador form {
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.contador h2 img {
   width: 100px;
   height: 100px;
}

.contador h1 {
   font-size: 2rem;
   color: #cf3b00;
   ;
   margin-bottom: 20px;
}
.contador form label{
   text-align: center;
}
.contador form input {
   border: none;
   text-align: center;
   border-radius: 30px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0 0 8px rgba(207, 59, 0, 0.2);
}

.contadorform input:focus {
   outline: none;
   box-shadow: 0 0 12px #cf3b00;
}

.contador form input:focus {
   outline: none;
   box-shadow: 0 0 12px #cf3b00;
}

.relogio {
   text-align: center;
   background: white;
   border: 2px solid black;
   border-radius: 20px;
   width: 200px;
   height: 100px;
   padding: 10px;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bold;
   color: #cf3b00;
   ;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

